In [3]:
import pandas as pd  
import numpy as np 
import gradio as gr

In [4]:
df = pd.read_csv('loan.csv')

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
df.drop(['Loan_ID', 'Dependents'], axis=1, inplace=True )

In [7]:
df.head()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [9]:
Gender = df['Gender'].mode().sum() 
Married = df['Married'].mode().sum()  
Self_Employed = df['Self_Employed'].mode().sum() 
LoanAmount = df['LoanAmount'].median() 
Loan_Amount_Term = df['Loan_Amount_Term'].median()  
Credit_History = df['Credit_History'].median()

In [10]:
df['Gender'].fillna((Gender), inplace = True) 
df['Married'].fillna((Married), inplace = True)  
df['Self_Employed'].fillna((Self_Employed), inplace = True) 
df['LoanAmount'].fillna((LoanAmount), inplace = True)  
df['Loan_Amount_Term'].fillna((Loan_Amount_Term), inplace = True) 
df['Credit_History'].fillna((Credit_History), inplace = True)

In [11]:
df.isna().sum()

Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [12]:
df.to_csv('loan1.csv')

In [13]:
df['Gender'].unique() 
df['Married'].unique() 
df['Education'].unique() 
df['Self_Employed'].unique() 
df['Property_Area'].unique() 
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [14]:
df['Gender'].replace({'Male': '0', 'Female':'1'}, inplace = True) # Male = 0,,,Female = 1

df['Married'].replace({'No':'0', 'Yes':'1'},inplace = True) # No = 0,,,Yes = 1   

df['Education'].replace({'Graduate':'0','Not Graduate': '1' }, inplace = True) # Graduate = 0,,,Not Graduate = 1 

df['Self_Employed'].replace({'No': '0', 'Yes':'1'}, inplace = True) # No = 0,,,Yes = 1 

df['Property_Area'].replace({'Urban':'1', 'Rural':'2', 'Semiurban':'3'}, inplace=True) # Urban = 1,, Rural = 2,, Semiurban = 3  

df['Loan_Status'].replace({'N': '0', 'Y':'1'}, inplace = True) # N = 0,,,Y = 1

In [15]:
df.head()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,0,0,5849,0.0,128.0,360.0,1.0,1,1
1,0,1,0,0,4583,1508.0,128.0,360.0,1.0,2,0
2,0,1,0,1,3000,0.0,66.0,360.0,1.0,1,1
3,0,1,1,0,2583,2358.0,120.0,360.0,1.0,1,1
4,0,0,0,0,6000,0.0,141.0,360.0,1.0,1,1

In [16]:
from sklearn.model_selection import train_test_split  
X = df.drop("Loan_Status", axis=1) 
y = df["Loan_Status"] 

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [17]:
from sklearn.preprocessing import StandardScaler

#instantiate StandardScaler object
scaler = StandardScaler()

#scale data
x_train_scaled = scaler.fit_transform(X_train)

x_test_scaled = scaler.fit_transform(X_test)

In [18]:
from sklearn.tree import DecisionTreeClassifier 
model1 = DecisionTreeClassifier() 
model1.fit(x_train_scaled,y_train) 
print("Accuracy : ", model1.score(x_test_scaled, y_test)*100)

Accuracy :  70.77922077922078

In [19]:
from sklearn.ensemble import RandomForestClassifier  
model2 = RandomForestClassifier() 
model2.fit(x_train_scaled,y_train) 
print("Accuracy : ", model2.score(x_test_scaled, y_test)*100)

Accuracy :  77.27272727272727

In [20]:
from sklearn.neural_network import MLPClassifier
model3 =  MLPClassifier(max_iter=1000,  alpha=1)
model3.fit(x_train_scaled, y_train) 
print("accuracy:", model3.score(x_test_scaled, y_test)*100)

accuracy: 79.87012987012987

In [21]:
from sklearn.linear_model import LogisticRegression
import pickle 
model =  LogisticRegression()
model.fit(x_train_scaled, y_train)
print("Accuracy :",model.score(x_test_scaled, y_test)*100)

Accuracy : 80.51948051948052

In [22]:
df.head(20)

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,0,0,5849,0.0,128.0,360.0,1.0,1,1
1,0,1,0,0,4583,1508.0,128.0,360.0,1.0,2,0
2,0,1,0,1,3000,0.0,66.0,360.0,1.0,1,1
3,0,1,1,0,2583,2358.0,120.0,360.0,1.0,1,1
4,0,0,0,0,6000,0.0,141.0,360.0,1.0,1,1
5,0,1,0,1,5417,4196.0,267.0,360.0,1.0,1,1
6,0,1,1,0,2333,1516.0,95.0,360.0,1.0,1,1
7,0,1,0,0,3036,2504.0,158.0,360.0,0.0,3,0
8,0,1,0,0,4006,1526.0,168.0,360.0,1.0,1,1
9,0,1,0,0,12841,10968.0,349.0,360.0,1.0,3,0
10,0,1,0,0,3200,700.0,70.0,360.0,1.0,1,1
11,0,1,0,0,2500,1840.0,109.0,360.0,1.0,1,1
12,0,1,0,0,3073,8106.0,200.0,360.0,1.0,1,1
13,0,0,0,0,1853,2840.0,114.0,360.0,1.0,2,0
14,0,1,0,0,1299,1086.0,17.0,120.0,1.0,1,1
15,0,0,0,0,4950,0.0,125.0,360.0,1.0,1,1
16,0,0,1,0,3596,0.0,100.0,240.0,1.0,1,1
17,1,0,0,0,3510,0.0,76.0,360.0,0.0,1,0
18,0,1,1,0,4887,0.0,133.0,360.0,1.0,2,0
19,0,1,0,0,2600,3500.0,115.0,360.0,1.0,1,1

In [23]:
def loan(Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,
    LoanAmount,Loan_Amount_Term,Credit_History,Property_Area): 
    X = np.array([Gender,Married,Education,Self_Employed,ApplicantIncome,
    CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area]) 
    pre = model.predict(X.reshape(1, -1))  
    if pre == '1':
        return "Eligible for loan" 
    return "Not eligible for loan"

app = gr.Interface(fn=loan, inputs=['number','number','number','number','number','number','number','number','number','number'], outputs='text') 
app.launch()

Running on local URL:  http://127.0.0.1:7861

To create a public link, set `share=True` in `launch()`.